@font-face {
	font-family: 'ITCAvantGardeStd-Demi';
	src: url('fonts/ITCAvantGardeStd-Demi.eot');
	src: local('☺'), url('fonts/ITCAvantGardeStd-Demi.woff') format('woff'), 
					url('fonts/ITCAvantGardeStd-Demi.ttf') format('truetype'), 
					url('fonts/ITCAvantGardeStd-Demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

canvas{
	font-family: 'ITCAvantGardeStd-Demi';
}

p.title{
	font-family: 'ITCAvantGardeStd-Demi';
}

.inside_curt{
	height:540px;
	width:880px;
	position: relative;
}

.return-to-menu{
	display: none;
	z-index: 157;
	color: white;
	font-size: 26px;
	position: absolute;
	right: 0;
	text-decoration: none;
	font-family: 'ITCAvantGardeStd-Demi';
	padding: 5px;
	width: 20px;
	height: 20px;
}

.hidden-videos{
	display: none;
	height:540px;
	width:880px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.hidden-videos .jwplayer{
	display: none;
}

#canvas{
	height:540px;
	width:880px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.inside_curt .jw-video{
	display:none;
	width:880px;
	height:540px;
	position: absolute;
	top: 0;
	left: 0;
}

.ie8-menu{
	width:960px;
}

.ie8-menu .menu{
	width: 234px;
	background: #2c2e2b;
	/* Old browsers */
	background: -moz-linear-gradient(top, #0d0d0d, #2c2e2b);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d0d0d), color-stop(100%, #2c2e2b));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0d0d0d 0%, #2c2e2b 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0d0d0d 0%, #2c2e2b 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #0d0d0d 0%, #2c2e2b 100%);
	/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d0d0d', endColorstr='#2c2e2b',GradientType=0 );
	/* IE6-9 */
	background: linear-gradient(top, #0d0d0d 0%, #2c2e2b 100%);
	height: 100%;
	min-height: 337px;
	float: left;
	/*border-right: 1px solid #acadb1;*/
}

.ie8-menu .menu ul{
	padding: 0;
	margin: 0;
}

.ie8-menu .menu ul li{
	border-bottom: 1px solid #3a3c38;
}

.ie8-menu .menu ul li:last-child{
	border-bottom: none;
}

.ie8-menu .menu ul li a{
	color: #e3e3e5;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	font-size:12px;
	font-family: 'ITCAvantGardeStd-Demi';
}

.ie8-menu .menu ul li a img{
	width: 32px;
	vertical-align: middle;
	margin: 3px 4px;
	border:none;
}

.ie8-menu .menu ul li a:hover, .ie8-menu .menu ul li.active a{
	background:#acadb1;
	color:black;
}

.ie8-menu .map{
	float:left;
	position: relative;
}

.ie8-menu .map .hidden-videos{
	width: 646px !important;
	height:410px !important;
	position: absolute;
	z-index: 10;
}

.ie8-menu .map .hidden-videos > div{
	/*width:725px !important;
	height:408px !important;*/
	width:100% !important;
	height:100% !important;
}

.ie8-menu .map .jwplayer{
	width:646px !important;
	height:455px !important;
	float:right;
}

.ie8-menu .map .jwplayer.jwfullscreen{
	width:auto !important;
	height:auto !important;
}

.ie8-menu .map img.curt-layout{
	width: 646px;
	height:410px;
}